@charset "UTF-8";
*{
font-family: メイリオ,"MS pゴシック",sans-serif;
    font-size: 12px;
    color: #666;
    margin: 0;
    padding: 0;
}
body{
  background-image: url(../img/bg.gif)    
}
h1{
    font-size: 20px;
    padding: 10px 20px;
}
h2{
font-size: 18px;
    background-color: mediumblue;
    color: #fff;
    padding: 5px 5px 5px 10px;
    margin:20px 0;
}
p{
line-height: 1.5;
margin: 0 5px 20px 5px;    
}
#container
{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
}
header p{
    font-size: 80%;
    text-align: right;
    margin: 0;
}
footer {
    background-color: #666;
}
footer p{
    text-align: center;
    color: #fff;
}
ul{
    list-style-type: none;
    margin: 10px 5px 20px 5px;
    line-height: 2;
}
li{
    padding-left: 30px;
    background-image: url(../img/button.gif);
    background-repeat: no-repeat;
    background-position: 2px 4px;
}
table,th,td {
    border: 1px #666 solid;
}
table {
    border-collapse: collapse;
    margin: 10px 5px 20px 5px;
}
th,td{
    padding: 5px 10px;
}